{% extends "base.html" %}

{% block main %}

<h2>{{ category }}</h2>

<div id="list__news">
  {% if posts %}
    <ul id="post_link_container">
      {% for post in posts %}
      <li>
        <a href="{{post['url']}}" target="_blank">[{{post['source']}}]</a> <a href="/posts/{{ post['slug'] }}" target="_blank">{{ post['title'] }}</a>
        <span class="date">{{ post['date'] }}</span>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>
      Result not found
    </h3>
  {% endif %}
  <div class="nav">
    {% if prev_page >= 0 %}
      <a href="/categories?category={{category}}&next_page={{prev_page}}">
        Previous
      </a>
    {% endif %}
    <span>{{ page }}</span>
    {% if next_page >= 0 %}
      <a href="/categories?category={{category}}&next_page={{next_page}}">Next</a>
    {% endif %}
  </div>
</div>

{% endblock %}
