ul {
  list-style: none;
}

.container {
  width: 50%;
  margin: 0 auto;
}

#list__news {
  text-align: center;
}

#post_link_container li {
  margin: 10px 0;
}

#post_link_container li span.date {
  margin-left: 15px;
  font-size: 12px;
  text-align: left;
}

figure {
  width: 70%;
  margin: 0 auto;
}

figure video, figure img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

figcaption {
  color: gray;
  text-align: center;
}

#search {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.nav {
  margin: 0 auto;
}

.nav > * {
  margin: 0 15px;
}
